* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    text-align: center;
  }
  
  #menu {
    width: 40px;
    margin: 20px 0 0 20px;
    position: absolute;
    display: block;
    float: left;
  }
  
  .image-1 {
    height: 100px;
    width: 80%;
    margin-top: -10px;
  }
  
  .introduction {
    margin: 16px;
  }
  
  h1 {
    color: orangered;
    font-size: 35px;
    margin-top: -10px;
  }
  
  .intro-text {
    padding-top: 100px;
    color: orangered;
    font-size: 25px;
  }
  
  .paragraph-title {
    background-color: white;
    color: #272a32;
    font-size: 15px;
    line-height: 18px;
    padding: 32px;
    margin: auto;
  }
  
  .address {
    font-size: 12px;
    color: #272a32;
    padding: 0 60px;
  }
  
  .address-2 {
    font-weight: 600;
    color: #272a32;
    text-decoration: underline;
    margin-top: -10px;
    padding-bottom: 30px;
  }
  
  h4 {
    font-size: 15px;
    padding: 0 90px;
  }
  
  .guide {
    border-bottom: 1px solid orangered;
    width: 10%;
    margin: auto;
  }
  
  .logo {
    border: 1px solid lightgrey;
    height: 30%;
    width: 90%;
    padding: 0 80px;
    margin: 20px 0;
  }
  
  h3 {
    font-size: 20px;
    padding-top: 30px;
    border-top: 1px solid lightgray;
  }
  
  .outreach {
    margin: 10px 30px;
    width: 80%;
  }
  
  .partner {
    background-color: #494b50;
    height: 25vh;
  }
  
  h5 {
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: -1px;
  }
  
  .logo-2 {
    width: 80%;
  }
  
  .logo-3 {
    width: 70%;
    margin: 2px;
  }
  
  .logo-1 {
    width: 80%;
    margin-top: 8px;
  }
  
  .logo-4 {
    width: 50%;
    margin: -14px;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    width: 30%;
    margin: 10px;
  }
  
  .lagtechfest-logo {
    width: 60%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  
  .paragraph {
    background-color: white;
    color: #272a32;
    font-size: 10px;
    line-height: 18px;
    margin-top: 80px;
  }
  
  #desktop-menu {
    display: none;
  }
  